@use "../core/variables" as var;
@use "../core/mixins" as mix;

.footer {
  position: relative;
  color: var.$color-primary;
  padding-block: 3rem;
  font-size: 1.8rem;
  text-align: center;
  font-family: var.$font-family_orbitron;
  font-weight: var.$font_weight_bold;
  @include mix.bg;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.9);
}
.gameMain + .footer {
  /* Estilos distintos para la página de juego */
  color: var.$color-bgPanel-2;
  text-align: end;
  padding-right: 2rem;
}
