@use "../core/variables" as var;
@use "../core/mixins" as mix;

.gameMain {
  @include mix.bgMain();
  min-height: 0;
  display: grid;
  grid-template-areas:
    "panel"
    "roulette"
    "controls"
    "markers";
  @media (min-width: var.$media_desktop) {
    grid-template-areas:
      "panel roulette"
      "controls roulette"
      "markers markers";
  }

  &__rouletteArea{
    position: relative;
  }
}
