@use "../../core/variables" as var;

.modal {
  position: absolute;
  inset: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.65);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    border-radius: 5px;
  }

  &__content {
    position: relative;
    z-index: 2;

    background-color:var.$color-bgPanel-1;

    border-radius: 8px;
    padding: 24px;

    width: 85%;
    max-width: 420px;

    box-shadow: var.$shadow-glow;
  }
}


.letterPicker {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: var.$color-primary;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-shadow: 1px 2px 2px  var.$color-bgPanel-2;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__button {
    width: 4rem;
    height: 4rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: var.$color-primary;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    border: 1px solid var.$color-primary;
    cursor: pointer;
    background-color: var.$color-text-light;
    transition: transform 0.15s ease, background-color 0.15s ease;
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.6);

    &:hover {
      background-color: #e0e0e0;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
    opacity: 0.35;
    cursor: not-allowed;
    filter: grayscale(0.6);
    box-shadow: none;
    transform: none;
  }

  &:disabled:hover,
  &:disabled:active {
    background-color: var.$color-text-light;
    transform: none;
  }

  }
}
