@use "../../core/variables" as var;

.controls {
  grid-area: controls;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin-top: 1rem;
  @media (min-width: var.$media_desktop) {
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
    gap: 2rem;
    place-content: center;
    align-content: center;
    padding-bottom: 2rem;
  }
  @media (min-width: var.$media_desktop_lg) {
    padding-block: 2rem;
    grid-template-columns: repeat(4, minmax(12rem, 1fr));
    align-content: center;
  }
  &__buttons {
    border: none;
    color: var.$color-accent-1;
    font-weight: var.$font_weight_bold;
    background: radial-gradient(
      circle at center,
      var.$color-bgPanel-2,
      var.$color-bgPanel-1
    );
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1rem;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4), var.$shadow-default;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.55);
    min-width: 10rem;
    cursor: pointer;
    &:hover:not(:disabled) {
      transform: scale(1.1);
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      filter: grayscale(0.2);
      transform: none;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
      text-shadow: none;
    }
  }
}
