@use "../../core/variables" as var;

.controls {
  grid-area: controls;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin-top: 1rem;
  @media (min-width: var.$media_desktop) {
    flex-wrap: nowrap;
    padding-top: clamp(4rem, calc(3rem + 5.5vw), 5.5rem);
    padding-bottom: clamp(2rem, calc(1rem + 3.5vw), 3.5rem);
    justify-content: space-around;
  }
  @media (min-width: var.$media_desktop_lg) {
    align-self: flex-start;
    margin-top: 0;
    padding-top: 0;
  }
  &__buttons {
    border: none;
    color: var.$color-accent-1;
    font-weight: var.$font_weight_bold;
    background: radial-gradient(
      circle at center,
      var.$color-bgPanel-2,
      var.$color-bgPanel-1
    );
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1rem;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4), var.$shadow-default;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.55);
    min-width: 10rem;
    cursor: pointer;
    &:hover:not(:disabled) {
      transform: scale(1.1);
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      filter: grayscale(0.2);
      transform: none;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
      text-shadow: none;
    }

    @media (min-width: var.$media_desktop) {
      min-width: 12rem;
      max-width: 20rem;
      font-size: 1.5rem;
      padding: 1.6rem;
    }
    @media (min-width: var.$media_desktop_lg) {
      min-width: 14.5rem;
      max-width: 22rem;

      font-size: 1.85rem;
      padding: 2rem 2.6rem;

      border-radius: 8px;
    }
  }
}
