@use "../../core/variables" as var;

.markers {
  grid-area: markers;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-block: 3.5rem;
  justify-content: space-around;
  align-items: normal;
  @media (min-width: var.$media_desktop) {
    width: fit-content; // deja de ocupar toda la columna
    justify-self: center; // lo centra dentro de la celda del grid
    align-self: stretch;
    flex-direction: column;
  }
  @media (min-width: var.$media_desktop_lg) {
    width: 100%;
    max-width: 90%;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-around;
    padding-left: 4rem;
    margin: 0;
    transform: translateY(-4rem);
  }

  &__section {
    order: 1;
    flex: 1 1 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    @media (min-width: var.$media_desktop) {
      flex: 0 0 auto;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
    }

    &--players {
      font-family: var.$font_family_orbitron;
      font-size: clamp(1.4rem, 2.8vw, 2rem);
      color: var.$color-bgPanel-2;
      font-weight: var.$font_weight_bold;
      letter-spacing: 0.1rem;
      text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
      padding-bottom: 1rem;
      @media (min-width: var.$media_desktop) {
        padding-bottom: 0;
        white-space: nowrap;
        font-size: clamp(1.6rem, 2.2vw, 2.2rem);
      }
      @media (min-width: var.$media_desktop_lg) {
        font-size: clamp(1.8rem, 2vw, 2.6rem);
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: clamp(0.6rem, 2vw, 1.2rem);
      align-items: center;

      @media (min-width: var.$media_desktop) {
        flex-direction: row;
        justify-content: center;
      }

      &--score {
        display: flex;
        background-color: var.$color-text;
        border-radius: 5px;
        border: 2px solid var.$color-bgPanel-2;
        padding: clamp(0.35rem, 2vw, 0.6rem) clamp(1rem, 0.5vw, 1.5rem);
        color: var.$color-bgPanel-2;
        font-family: var.$font-family_orbitron;
        font-size: clamp(1.6rem, 4vw, 2.2rem);
        font-weight: var.$font_weight_bold;
        justify-content: end;
        width: clamp(7rem, 28vw, 9rem);

        @media (min-width: var.$media_desktop) {
          font-size: clamp(1.9rem, 2.6vw, 2.5rem);
          width: clamp(8rem, 18vw, 10rem);
          padding: 0.6rem 1.4rem;
        }

        @media (min-width: var.$media_desktop_lg) {
          font-size: clamp(2rem, 2vw, 2.8rem);
          width: clamp(9rem, 14vw, 11rem);
          padding: 0.8rem 1.6rem;
        }
      }

      &--joker {
        display: flex;
        align-items: center;

        &--img {
          width: 4rem;
          height: 4rem;

          @media (min-width: var.$media_desktop) {
            width: 4.6rem;
            height: 4.6rem;
          }
          @media (min-width: var.$media_desktop_lg) {
            width: 5.2rem;
            height: 5.2rem;
          }
        }

        &--count {
          font-family: var.$font_family_orbitron;
          font-size: clamp(1.4rem, 2.8vw, 2rem);
          color: var.$color-primary;
          font-weight: var.$font_weight_bold;
          text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          
          @media (min-width: var.$media_desktop) {
            font-size: clamp(1.6rem, 2.2vw, 2.2rem);
          }

          @media (min-width: var.$media_desktop_lg) {
            font-size: clamp(1.8rem, 2vw, 2.6rem);
          }
        }
      }
    }
  }

  @media (min-width: var.$media_desktop_lg) {
  }
}
