@use "../../core/variables" as var;
.markers {
  grid-area: markers;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-block: 3.5rem;
  justify-content: space-around;
  align-items: normal;

  /* Fuerza que ambos marcadores queden en la segunda línea */
  &__section {
    order: 1;
    flex: 1 1 11rem;
  }

  /* Desktop grande: en 1 línea  */
  @media (min-width: var.$media_desktop_lg) {
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 0;
    align-items: center;

    .roundInfo {
      order: 0;
      flex: 0 1 40%;
      max-width: 40%;
    }

    &__section {
      order: 0;
      flex: 0 0 auto;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    &--players {
      font-family: var.$font_family_orbitron;
      font-size: clamp(1.4rem, 2.8vw, 2rem);
      padding-bottom: 1rem;
      color: var.$color-bgPanel-2;
      font-weight: var.$font_weight_bold;
      letter-spacing: 0.1rem;
      text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    }
    &--info {
      display: flex;
      flex-direction: column;

      justify-content: center;
      gap: clamp(0.6rem, 2vw, 1.2rem);
      align-items: center;

      &--score {
        display: flex;
        background-color: var.$color-text;
        border-radius: 5px;
        border: 2px solid var.$color-bgPanel-2;
        padding: clamp(0.35rem, 2vw, 0.6rem) clamp(1rem, 0.5vw, 1.5rem);
        color: var.$color-bgPanel-2;
        font-family: var.$font-family_orbitron;
        font-size: clamp(1.6rem, 4vw, 2.2rem);
        font-weight: var.$font_weight_bold;
        justify-content: end;
        width: clamp(7rem, 28vw, 9rem);
      }
      &--joker {
        display: flex;
        align-items: center;

        &--img {
          width: 4rem;
          height: 4rem;
        }
        &--count {
          font-family: var.$font_family_orbitron;
          font-size: clamp(1.4rem, 2.8vw, 2rem);

          color: var.$color-primary;
          font-weight: var.$font_weight_bold;

          text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
