@use "../../core/variables" as var;

.roundInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: var.$color-primary;
  font-size: clamp(1.6rem, 3.8vw, 3.6rem);
  font-family: var.$font_family_comic;
  font-weight: 600;
  text-shadow: 1px 1px 2px var.$color-bgPanel-1;
  letter-spacing: 1px;
  padding-block: 1.2rem;
  &__text {
    text-align: center;
  }
}
