@use "../../core/variables" as var;
@use "../../core/mixins" as mix;

.statsModalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 3000;
}

.statsModal {
  position: relative;
  width: min(90vw, 640px);
  max-height: 80vh;

  display: flex;
  flex-direction: column;

  padding: 2.5rem 3rem;

  background: var.$color-bgPanel-1;
  border-radius: 16px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), 0 0 25px rgba(0, 255, 255, 0.15);

  animation: modalFadeIn 0.25s ease-out;

  &__title {
    @include mix.titleModal();
  }
  &__content {
    overflow-y: auto;
    padding: 2.5rem;

    &--statsList {
      display: grid;
      grid-template-columns: 1fr;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 1rem;

      @media (min-width: var.$media_desktop) {
        grid-template-columns: 1fr 1fr;
      }
      &--statsItem {
        display:flex;
        align-items: center;
        color: var.$color-bgPanel-2;

        padding: 1rem;
        gap:1rem;
        &__icon {
          font-size: 2rem;
           text-shadow: 1px 1px 5px var.$color-primary;
        }
        &__label {
          text-shadow: 1px 1px 5px var.$color-accent-1;
          font-size: 1.8rem;
          opacity: 0.85;
        }
        &__value {
          text-shadow: 1px 1px 5px var.$color-accent-1;
          font-size: 1.6rem;
          color: var.$color-primary;

        }
      }
    }
  }
  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    background: none;
    border: none;
    cursor: pointer;

    font-size: 2rem;
    color: var.$color-accent-2;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
