@mixin bg{
  background: radial-gradient(
    circle at top,
    #ffc43d 0%,
    #ffe36b 40%,
    #f1e9b6 100%
  );
  z-index: 2;
}

@mixin bgMain{
 background: linear-gradient(#ffc43d 0%, #bd7272 40%, #ffc43d 100%);
}