@use "../../core/variables" as var;

.controls {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-right: 3rem;
  &__buttons {
    border: none;
    color: var.$color-accent-1;
    font-weight: var.$font_weight_bold;
    background: radial-gradient(
      circle at center,
      var.$color-bgPanel-2,
      var.$color-bgPanel-1
    );
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1rem;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4), var.$shadow-default;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.55); // desplazamiento X, Y, blur, color
    min-width: 10rem;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
  }
}
