@use "../../core/variables" as var;
.markers{
  grid-area: markers;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
  justify-content: space-around;
  &__section{
    text-align: center;
    &--players{
      font-family: var.$font_family_orbitron;
      font-size: 1.5rem;
      padding-bottom: 1rem;
      color: var.$color-bgPanel-2;
      font-weight: var.$font_weight_bold;
      letter-spacing: 0.2rem;
      text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    }
     &--score{
    background-color: var.$color-text;
    border-radius: 5px;
    border: 2px solid var.$color-bgPanel-2;
    padding: 0.5rem 3rem;
    color: var.$color-bgPanel-2;
    font-family: var.$font-family_orbitron;
    font-size: 2rem;
    font-weight: var.$font_weight_bold;
  }
  }

}