@use "../../core/variables" as var;
.markers{
  grid-area: markers;
  display: flex;
  gap: 3rem;
  margin: 5rem;
  justify-content: space-around;
  &__section{
    text-align: center;
    &--players{
      font-family: var.$font_family_orbitron;
      font-size: 2rem;
      padding-bottom: 1rem;
      color: var.$color-text;
    }
     &--score{
    background-color: var.$color-text;
    border-radius: 5px;
    border: 2px solid var.$color-accent-3;
    padding: 1rem 4rem;
    color: var.$color-accent-3;
    font-family: var.$font-family_orbitron;
    font-size: 2rem;
    font-weight: var.$font_weight_bold;
  }
  }

}