@use "../../core/variables" as var;

.panel {
  grid-area: panel;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background: radial-gradient(circle at center, var.$color-bgPanel-1, var.$color-bgPanel-2);
  border-radius: 20px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
  min-height: 12rem;
  margin-top: 3rem;
  margin-inline: 2rem;
  &__letter {
    width: 2.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    color: var.$color-text;
    background: var.$color-bg-light;
    border: 2px solid var.$color-text-light;
    border-radius: 8px;
    box-shadow: var.$shadow-default;
    text-transform: uppercase;
  }
  & .space {
    border: none;
    background: #c2dfc4;
    width: 1rem;
  }
}
