@use "../core/variables" as var;

.footer{
  background-color: var.$color-accent-2;
  color:var.$color-primary;
  padding-block: 3rem;
  font-size: 2rem;
  text-align: right;
  padding-right: 3rem;
}