@use "../core/variables" as var;
@use "../core/mixins" as mix;

.gameMain {
  @include mix.bgMain();
  display: grid;
  grid-template-areas:
    "panel panel"
    "roulette controls"
    "markers markers";
  @media (min-width: var.$media_desktop) {
    grid-template-areas:
      "panel roulette"
      "controls roulette"
      "markers markers";
  }
}
