@use "../core/variables" as var;

.header {
  background-color: var.$color-accent-2;
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
  color:var.$color-accent-1;
  text-shadow: var.$shadow-default;
  &__presenter{
    width: 5rem;
    background-image: url('images/presenter.webp');
    background-position: center;

  }
}

