@use "../core/variables" as var;
@use "../core/mixins" as mix;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mix.bgMain();
  min-height: 78dvh;

  @media (min-width: var.$media_desktop) {
    flex-direction: row;
    padding-right: 10rem;
    min-height: 78dvh;
  }

  &__article {
    position: relative;
    aspect-ratio: 1 / 1;
    background: url("/images/roulette_frame.webp") center/cover no-repeat,
      #1e1d1c;
    border-radius: 40px;
    gap: 2rem;
    // tamaño minimo permitido, valor ideal(se usa mientras no pase del min y el max), maximo tamaño permitido
    padding: clamp(2rem, 20vw, 8rem) clamp(0.2rem, 6vw, 6rem);
    margin: 4rem;
    overflow: hidden;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 1.9);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    @media (min-width: var.$media_desktop) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    /* pantalla gris */
    &::before {
      content: "";
      position: absolute;
      inset: clamp(12px, 8vw, 30px);
      z-index: 1;
      background: radial-gradient(circle at center, #1f2022, #828282);
      border-radius: 25px;
      border: 3px solid rgba(0, 0, 0, 0.9);
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9),
        inset 0 0 20px rgba(0, 0, 0, 0.6);
    }

    /* secciónde la ruleta / imagen */
    &--section {
      width: 95%;
      z-index: 4;
      padding-bottom: 3rem;

      &-img {
        width: 100%;
        filter: drop-shadow(var.$shadow-default);
        animation: zoomRoulette 3s ease-in-out infinite;
      }
    }

    /* botones */
    &--tv-buttons {
      position: absolute;
      bottom: clamp(1.8rem, 15vw, 5.5rem);
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      max-width: 280px;
      min-width: 0;
      gap: clamp(0.1rem, 1vw, 0.3rem);
      padding: 0 clamp(1rem, 1.5vw, 0.6rem);
      z-index: 4; // por encima de la pantalla

      &-tv-btn {
        background: radial-gradient(
          circle at top,
          #f5f5f5 0%,
          #d9d9d9 35%,
          #a6a6a6 70%,
          #5a5a5a 100%
        );
        color: var.$color-text;
        border: 2px solid #111;
        border-radius: 8px;
        flex: 0 1 auto;
        max-width: 7rem;
        min-width: 0;
        padding: clamp(0.3rem, 1.6vw, 0.45rem) clamp(0.4rem, 2.6vw, 0.85rem);
        font-size: clamp(0.65rem, 2.5vw, 0.8rem);
        font-weight: 600;
        cursor: pointer;
        box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.25),
          0 2px 8px rgba(0, 0, 0, 0.7);
        transition: all 0.2s ease;

        &:hover {
          background: radial-gradient(
            circle,
            #4d4c4c 0%,
            #929292 40%,
            #b9b9b9 75%,
            #e2e2e2 100%
          );

          color: var.$color-text-light;
          transform: scale(1.05);
          animation: pulse 1.5s ease-in-out infinite;
        }

        &:active {
          transform: scale(0.95) translateY(2px);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6);
        }

        &.power {
          background: radial-gradient(circle at center, #b30000, #4d0000);
          color: #fff;
          border: 2px solid #220000;

          &:hover {
            background: radial-gradient(circle at center, #ff0000, #660000);
            box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
          }
        }
      }
      @media (min-width: var.$media_desktop) {
        bottom: 5rem;
        gap: 1rem;
        width: 70%;
        &--tv-buttons-tv-btn {
          flex: 0 0 auto;
          min-width: 6.5rem;
          font-size: 0.65rem;
        }
      }
    }
  }

  &__form {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 4rem;

    @media (min-width: var.$media_desktop) {
      width: 35%;
    }

    &-inputName {
      padding: 1rem;
      border-radius: 5px;
      border: 3px solid var.$color-primary;
      box-shadow: var.$shadow-default;
      background-color: var.$color-text-light;
    }

    &-btnBegin {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      padding: 1rem;
      border-radius: 5px;
      border: 2px solid var.$color-accent-1;
      font-size: 2rem;
      font-weight: var.$font_weight_bold;
      box-shadow: var.$shadow-default;
      background-color: var.$color-primary;
      color: var.$color-accent-1;

      &:hover {
        background-color: var.$color-accent-1;
        color: var.$color-accent-2;
      }
    }
  }
}

/* animaciones */
@keyframes zoomRoulette {
  0%,
  100% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 20px #00d4ff66;
  }
  50% {
    box-shadow: 0 0 0px #00d4ffcc;
    transform: translateY(-1px);
  }
}
