<main class="main">
  <article class="main__article">
    <section class="main__article--section">
      <img
        src="/images/roulette.webp"
        alt="ruleta girando"
        class="main__article--section-img"
      />
    </section>
    <!-- Botones del televisor -->
    <section class="main__article--tv-buttons">
      <button class="main__article--tv-buttons-tv-btn">VOL +</button>
      <button class="main__article--tv-buttons-tv-btn">VOL −</button>
      <button class="main__article--tv-buttons-tv-btn">CH +</button>
      <button class="main__article--tv-buttons-tv-btn">CH −</button>
      <button class="main__article--tv-buttons-tv-btn power">⏻</button>
    </section>
  </article>
  <form class="main__form">
    <input
      type="text"
      class="main__form-inputName"
      placeholder="Introduce tu nombre"
    />
    <a href="./gamePage.html" class="main__form-btnBegin">A jugar!</a>
  </form>
</main>
