@use "../core/variables" as var;
@use "../core/mixins" as mix;

.footer {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding-top: 1.4rem;
  color: var.$color-primary;
  font-size: clamp(1.4rem, 2.2vw, 1.8rem);
  font-family: var.$font-family_orbitron;
  font-weight: var.$font_weight_bold;
  @include mix.bg;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.9);
  @media (min-width: var.$media_desktop_lg) {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 2rem;
    padding-inline: 5rem;
    font-size: clamp(1.6rem, 0.8vw + 0.8rem, 2rem);
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    &--link {
      font-weight: var.$font_weight_bold;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.6rem;
      color: var.$color-bgPanel-2;
      text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 10px var.$color-primary);
      }

      @media (min-width: var.$media_desktop) {
        font-size: clamp(1.8rem, 2.5vw, 2.8rem);
      }
      @media (min-width: var.$media_desktop_lg) {
        font-size: clamp(1.6rem, 0.7vw + 0.8rem, 2.3rem);
         align-items: center;
      }
    }
    &--logout {
      background: none;
      border: none;
      cursor: pointer;
      img {
        width: clamp(34px, 14vw, 52px);
        height: clamp(34px, 14vw, 52px);
        @media (min-width: var.$media_desktop) {
          width: clamp(52px, 6.1vw, 72px);
          height: clamp(52px, 6.1vw, 72px);
        }
        @media (min-width: var.$media_desktop_lg) {
          width: clamp(60px, 4vw, 82px);
          height: clamp(60px, 4vw, 82px);
        }
      }

      &:hover img {
        transform: scale(1.1);
        filter: drop-shadow(1px 1px 5px var.$color-primary);
      }

      &:active img {
        transform: scale(0.95);
      }
    }
  }
}
