@use "../core/variables" as var;
@use "../core/mixins" as mix;

.footer {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding-top: 1.4rem;
  color: var.$color-primary;
  font-size: clamp(1.4rem, 2.2vw, 1.8rem);
  font-family: var.$font-family_orbitron;
  font-weight: var.$font_weight_bold;
  @include mix.bg;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.9);

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    &--link {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.6rem;
      color: var.$color-bgPanel-2;

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 10px var.$color-primary);
      }
    }
    &--logout {
      background: none;
      border: none;
      cursor: pointer;
      img {
        width: clamp(34px, 14vw, 52px);
        height: clamp(34px, 14vw, 52px);
      }

      &:hover img {
        transform: scale(1.1);
        filter: drop-shadow(0 0 10px var.$color-primary);
      }

      &:active img {
        transform: scale(0.95);
      }
    }
  }
}
