@use "../core/variables" as var;
@use "../core/mixins" as mix;

.footer {
  display: grid;
  grid-template-columns: 1fr  1fr;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: var.$color-primary;
  font-size: clamp(1.4rem, 2.2vw, 1.8rem);
  font-family: var.$font-family_orbitron;
  font-weight: var.$font_weight_bold;
  @include mix.bg;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.9);
  &__user {
    grid-column: 1;
    text-align: start;
    padding-left: 2rem;
  }
  &__actions {
    grid-column: 2;
    justify-self: end;
    display: flex;
    gap: 2rem;
    &--link {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.6rem;
      color: var.$color-bgPanel-2;

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 10px var.$color-primary);
      }
    }
    &--logout {
      background: none;
      border: none;
      cursor: pointer;
      img {
        width: 52px;
        height: 52px;
        @media (min-width: var.$media_desktop) {
          width: 82px;
          height: 82px;
        }
      }

      &:hover img {
        transform: scale(1.1);
        filter: drop-shadow(0 0 10px var.$color-primary);
      }

      &:active img {
        transform: scale(0.95);
      }
    }
  }
}
