@use "../core/variables" as var;
@use "../core/mixins" as mix;

.header {
  position: sticky;
  top: 0;
  display: flex;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  padding-top: 1.5rem;
  align-items: center;
  justify-content: center;
  gap: clamp(0.5rem, 1.2vw, 2rem);

  @include mix.bg;

  z-index: 40;
  box-shadow:
    0 10px 20px rgba(0,0,0,0.55),
    inset 0 10px 18px rgba(255,255,255,0.18),
    inset 18px 0 22px rgba(0,0,0,0.18),
    inset -18px 0 22px rgba(0,0,0,0.18);

  --img-w: clamp(125px, 30vw, 185px);
  --img-h: clamp(64px, 12vw, 125px);
  --intro: clamp(1.8rem, 4.7vw, 3.2rem);

  @media (min-width: var.$media_desktop) {
    --img-w: clamp(150px, 18vw, 210px);
    --img-h: clamp(78px, 8vw, 130px);
    --intro: clamp(2.5rem, 2.1vw + 1.2rem, 3.5rem);
  }

  @media (min-width: var.$media_desktop_lg) {
    --img-w: clamp(170px, 14vw, 240px);
    --img-h: clamp(90px, 6.5vw, 140px);
  }

  &__rightSpacer {
    width: var(--img-w);
    height: var(--img-h);
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }

  &__title {
    line-height: 1.05;
    @include mix.glowingText();
    text-align: center;

    &--intro {
      font-size: var(--intro);
      line-height: 1.05;
      @include mix.glowingText();
    }
  }

  &__leftImg {
    @include mix.imgHeader();
    @include mix.imgDropShadow(10px, 10px, 0.28);
    width: var(--img-w);
    height: var(--img-h);
  }

  &--left-contestants {
    .header__leftImg {
      background-image: url("../../images/contestants.webp");
    }
  }

  &--left-computer {
    .header__leftImg {
      background-image: url("../../images/computer.webp");
    }
  }
}
