@use "../core/variables" as var;
@use "../core/mixins" as mix;

.header {
  position: relative;
  display: flex;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  align-items: center;
  justify-content: space-around;
  @include mix.bg;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);

  /* Evita que el contenido fuerce alturas enormes */
  min-height: 0;

  &__title {
    font-size: 2.5rem;
    @include mix.glowingText();
    @media (min-width: var.$media_desktop) {
      font-size: 3.5rem;
    }
  }
  &__logout {
    background: none;
    border: none;
    cursor: pointer;
    img {
      width: 42px;
      height: 42px;
      @media (min-width: var.$media_desktop) {
        width: 82px;
        height: 82px;
      }
    }

    &:hover img {
      transform: scale(1.1);
      filter: drop-shadow(0 0 10px var.$color-primary);
    }

    &:active img {
      transform: scale(0.95);
    }
  }

  &__presenter {
    @include mix.imgHeader();

    background-image: url("../../images/presenter.webp");
  }
  &__conestants {
    @include mix.imgHeader();
    background-image: url("../../images/contestants.webp");
  }
}
