@use "./variables" as var;
@mixin bg {
  background: radial-gradient(
    circle at top,
    #ffc43d 0%,
    #ffe36b 40%,
    #f1e9b6 100%
  );
  z-index: 2;
}

@mixin bgMain {
  background: linear-gradient(#ffc43d 0%, #bd7272 40%, #ffc43d 100%);
}

@mixin titleModal {
  font-size: 2rem;
  font-weight: 700;
  color: var.$color-primary;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-shadow: 1px 2px 2px var.$color-bgPanel-2;
  text-align: center;
}

@mixin titleAnimation{
   text-align: center;
    background: linear-gradient(
      90deg,
      #b30059 0%,
      var.$color-primary 20%,
      #d699a8 40%,
      var.$color-primary 60%,
      #b30059 80%
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

@mixin input {
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid var.$color-primary;
  box-shadow: var.$shadow-default;
  background-color: var.$color-text-light;
  font-family: var.$font_family_comic;
  color: var.$color-primary;
}

@mixin btnPrimary {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid var.$color-accent-1;
  font-size: 2rem;
  font-weight: var.$font_weight_bold;
  box-shadow: var.$shadow-default;
  background-color: var.$color-primary;
  color: var.$color-accent-1;
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.6;
    filter: grayscale(60%);
  }

  &:not(.is-disabled):hover {
    background-color: var.$color-accent-1;
    color: var.$color-accent-2;
  }
}

@mixin imgHeader {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: clamp(110px, 24vw, 170px);
  height: clamp(60px, 10vw, 120px);
}


@mixin glowingText(
  $duration: 10s,
  $delay: 0s,
  $timing: linear,
  $iteration: infinite
) {
  background: linear-gradient(
    90deg,
    #b30059 0%,
    var.$color-primary 20%,
    #d699a8 40%,
    var.$color-primary 60%,
    #b30059 80%
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;

  animation: titleLight $duration $timing $delay $iteration;
}


@keyframes titleLight {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
