@use "../core/variables" as var;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var.$font_family_comic;
  overflow-y: scroll;
}

html,
body,
#root {
  min-height: 100%;
}

.appLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appLayout > main {
  flex: 1 1 auto;
  min-height: 0;
}
