@use "./core/reset";
@use "./core/variables";
@use "./layout/header";
@use "./layout/main";
@use "./layout/gameMain";
@use "./layout/footer";
@use "./layout/sectionGame/panel";
@use "./layout/sectionGame/rouletteGame";
@use "./layout/sectionGame/markersGame";
@use "./layout/sectionGame/controlsGame";




